
        <aside id="sidebar">
            <section id="volunteer">
                <header>
                    <h1><a href="/volunteer/"><img src="https://awc-heroku.s3.amazonaws.com/static/img/volunteer@2x.png"
                                alt="Volunteer"><span>Volunteer</span></a></h1>
                </header>
            </section><!-- /volunteer -->


            <section id="info">
                <dl>
                    <dt class="phone">Phone</dt>
                    <dd>(850) 435-7427
                    </dd>
                    <dt>Hours</dt>
                    <dd>Mon, Wed, Thu, Fri, Sat
                    </dd>
                    <dd>8:30AM - 1:00PM
                    </dd>
                    <dt class="address">Address</dt>
                    <dd><a
                            href="http://maps.google.com/maps?li=d&amp;hl=en&f=d&amp;iwstate1=dir:to&amp;daddr=31+Murphy+Ln,+Pensacola,+FL+32505+(Alfred+Washburn+Center)&amp;geocode=CVJXYQlX_e8uFS3d0AEd2dPM-g&amp;iwloc=1&amp;dq=alfred+washburn+center&amp;cid=6256837752532737766&ei=5U_aSeKIF4uCNtzOzAM"><img
                                src="http://awc-heroku.s3.amazonaws.com/static/img/map.jpg" alt="map"><span
                                class="directions">Get Directions to <br>31 Murphy Ln <br>Pensacola, FL 32505</span></a>
                    </dd>

                    <dt>Facebook</dt>
                    <dd>
                        <a href="http://www.facebook.com/pages/Alfred-Washburn-Center/134655299940778">Visit our
                            Page</a>
                    </dd>
                    <dd>
                        <iframe
                            src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FAlfred-Washburn-Center%2F134655299940778%3Ffref%3Dts&amp;send=false&amp;layout=box_count&amp;width=200&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90&amp;appId=160446804086607"
                            style="border:none; overflow:hidden; width:45px; margin:0 auto; height: 80px"></iframe>
                    </dd>

                </dl>

            </section><!-- /info -->
        </aside>
