<section id="welcome">
                <header>
                    <h1>Welcome to the Alfred-Washburn Center</h1>
                </header>
                <p>The Alfred-Washburn Center is a ministry of the Society of St. Vincent de Paul serving the homeless
                    and poorer members of our community. The Center is funded by the St. Vincent de Paul Thrift Stores
                    and Conferences, as well as private and corporate donations. We are a 100% volunteer organization.
                    The only qualification for volunteers is a desire to serve the least of our brothers and sisters.
                </p>

                <p>The Center provides food, showers, laundry facilities, clothing and Identification
                    Cards for the homeless. We have individual shower rooms and washing machines and
                    dryers for laundry. All homeless and poorer members of our community are welcomed and services are
                    provided free of charge for any who come to the Center. Our goal is to give back the basic human
                    diginty that God has given all of us. All are welcome!</p>
                <footer>
                    <a href="/about/">Learn more</a>
                </footer>

            </section><!-- /welcome -->